#container {
    height: 400px;
}

.up {
    color: green;
}

.down {
    color: red;
}

.col {
    position: relative;
    float: left;
    width: 45%;
    margin: 10px;
    height: 3000px;
    overflow: auto;
}
