body {
    padding-top: 50px;
    padding-bottom: 60px;
}

footer {
    position: fixed;
    bottom: 0;
    background: white;
}

#restaurantList td {
    width: 20%;
}

.success {
    color: limegreen;
}

.fail {
    color: red;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
form input,
select,
textarea {
    max-width: 280px;
}

.fullWidth {
    width: 100%;
}

#menuIframe {
    padding-top: 10px;
}

#iframmmmeeeesss {
    margin-top: 10px;
}

.iframeHeight {
    height: 400px;
}

#cover {
    display: none;
    position: absolute;
    background-color: black;
    z-index: 100;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#messageBox {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 101;
}

#messageContent {
    border-style: solid;
    border-width: 1px;
    display: none;
    position: relative;
    margin: 100px auto auto auto;
    background-color: yellow;
    width: 30%;
    height: 30%;
    padding: 10px;
}
