@{
    ViewBag.Title = "FileSystemAPI";
}
@Html.ActionLink("Retrun to data", "Index", "Data")
<h2>FileSystemAPI</h2>

<script>

    $(document).ready(function () {

        new App.Data.FileSystemAPIController();

    });
</script>
