@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>TestView</title>
    <script src="~/Scripts/Libraries/jquery-3.0.0.js"></script>
    <script src="~/Scripts/Libraries/qunit.js"></script>
    <link href="~/Content/Libraries/qunit.css" rel="stylesheet" />
    <script src="http://localhost:19341/Scripts/App/App.js"></script>
    <script src="http://localhost:19341/Scripts/App/Tested/Tested.js"></script>
    <script src="~/Scripts/Tests/tests.js"></script>
</head>
<body>
    <noscript>
        Your browser does not support JavaScript so page functionality will be
        significantly reduced.
    </noscript>
    <script>
        //init namespaced function
        var _sut = App.Tested();
    </script>
    <div>
        <h1 id="qunit-header">QUnit example</h1>
        <h2 id="qunit-banner"></h2>
        <div id="qunit-testrunner-toolbar"></div>
        <h2 id="qunit-userAgent"></h2>
        <ol id="qunit-tests"></ol>
        <div id="qunit-fixture">test markup, will be hidden</div>
    </div>
</body>
</html>
