@{
    ViewBag.Title = "Iframes";
}

<h1>Ifrraaaammmmess Yeeeeeeaaaaahhhh</h1>
<div id="iframmmmeeeesss" class="row">
    <div>
        <div class="col-xs-2">
            <iframe seamless="seamless" id="menuIframe" class="fullWidth iframeHeight" src="/Content/Html/Menu.html"></iframe>
        </div>
        <div class="col-xs-4">
            <iframe seamless="seamless" id="googleIframe" sandbox="allow-same-origin allow-forms allow-scripts" class="fullWidth iframeHeight" src="https://portal.catalystitservices.com/"></iframe>
        </div>

        <div class="col-xs-4">
            <iframe seamless="seamless" name="contentFrame" class="fullWidth iframeHeight" src=""></iframe>
        </div>
        <div class="col-xs-2">
            <img src="~/Content/Images/robotzombie.jpg" />
        </div>
    </div>
</div>
