@{
    ViewBag.Title = "Home Page";

}
<section>
    <h3>   StudyMaterials for MCSD path</h3>
    <h4>MCSD: Web Applications Solutions Developer</h4>
    <br />
    <section>
        <h4>70-480: Programming in HTML5 with JavaScript and CSS3</h4>
        <p>Exam Prep Begin: 7-11-16</p>
        <p>Exam Date: 8-12-2016</p>
        <p>Result: <span class="success">pass</span></p>
    </section>
    <br />
    <section>
        <h4>70-486: Developing ASP.NET MVC Web Applications</h4>
        <p>Exam Prep Begin: 8-12-16</p>
        <p>Exam Date: TBD</p>
        <p>Result: TBD</p>
    </section>
    <br />
    <section>
        <h4>70-487: Developing Microsoft Azure and Web Services</h4>
        <p>Exam Prep Begin: TBD</p>
        <p>Exam Date: TBD</p>
        <p>Result: TBD</p>
    </section>
</section>
